.pie{
    width: 900px; 
    height: 500px;
}

.card-deck .card {
    flex : none !important;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
}

.jumbotron{
    width : 105% !important;
}

.card-img-top {
    width: auto;
    height: 15vw;
    object-fit: cover;
}